<section class="block block--dark block--skewed-right block-showcase">
  <header class="block__header">
    <h2>User-friendly Control Panel</h2>
  </header>
  <div class="container grid grid--1x2">
    <picture class="block-showcase__image">
      <source
        type="image/webp"
        srcset="images/icons/ipad.webp 1x, images/ipad@2x.webp 2x"
      />
      <source
        type="image/png"
        srcset="images/icons/ipad.png 1x, images/icons/ipad@2x.png 2x"
      />
      <img src="images/icons/ipad.png" alt="" />
    </picture>
    <ul class="list">
      <li>
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary">
              <use xlink:href="images/icons/sprite.svg#snap"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title">Easy Start & Managed Updates</h3>
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsa
              cumque sapiente quod quis error adipisci voluptatum culpa
              necessitatibus! Neque, ad!
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary">
              <use xlink:href="images/icons/sprite.svg#growth"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title">Staging, GIT & WP-CLI</h3>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Libero
              provident nam numquam! Eveniet explicabo aut est, laborum
              excepturi iusto et!
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary">
              <use xlink:href="images/icons/sprite.svg#wordpress"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title">Dynamic Caching & More</h3>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorem,
              ipsam quos ipsum veritatis ratione harum dolores incidunt
              aspernatur voluptas voluptatum!
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>

<script src="js/main.js"></script>
